body {
  height: 100%;
  margin: 0;
  background: white;
}
.container, #gm-container {
  text-align: center;
  margin: 0px;
  padding-top: 30px;
  padding-bottom: 60px;
  font-family: "Share Tech Mono", monospace;
  background: white;
}
.title, #gm-title {
  font-size: 40px;
  color: black;
}
.subtitle {
  font-size: 20px;
  color: black;
}
@font-face {
  font-family: "Share Tech Mono";
  src: url("ShareTechMono-Regular.ttf");
}

.action-icon {
  width: 48px;
  height: 48px;
}

.action-button {
  display: inline-flex;          /* align icon + text together */
  align-items: center;           /* vertically center them */
  font-size: 32px;               /* your text size */
  line-height: 1;                /* eliminate font padding */
  font-family: "Share Tech Mono", monospace;
  gap: 0.25em;
}

.action-text {
}
